<h3>Top Investments</h3>
<div *ngIf="transactionGroupMap">
    <div class="grid grid-pad">
        <div class="col-1-4">
            <div class="module investment">
                <h4>{{getTotalInvestment()}}</h4>
            </div>
        </div>
        <div class="col-1-4">
            <div class="module investment">
                <h4>{{getTotalReturn()}}</h4>
            </div>
        </div>
        <div class="col-1-4">
            <div class="module investment">
                <h4>{{getTotalReturnPercentage()}}</h4>
            </div>
        </div>
        <div class="col-1-4">
            <div class="module investment">
                <h4>{{getTotalLatestInvestmentValue()}}</h4>
            </div>
        </div>
    </div>
</div>
